[credential]
	helper =
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[user]
	name = Timon Jurschitsch
	email = timon.jurschitsch@gmail.com
[init]
	defaultBranch = main
[pull]
	rebase = false
