[credential]
	helper =
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[user]
	name = Timon Jurschitsch
	email = timon.jurschitsch@gmail.com
[init]
	defaultBranch = main
[pull]
	rebase = false
[push]
	autoSetupRemote = true
[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    side-by-side = true
    dark = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
